@page "/"

<PageTitle>Serble Domains</PageTitle>

<h1>
    Serble Domains
</h1>

The Serble domain system is a layer on top of DNS. It provides the ability to register TLDs, you cannot register higher level domains.
You can use Serble's DNS server which you can find by resolving dns.serble.net, note that the IP may change.